<% provide(:title, "ブックマーク一覧") %>

<div class="bookmark row">
  <div class="bookmark-inner col-md-6 offset-md-3">
    <h1 class="text-center">ブックマーク一覧</h1>
    <ul class="bookmark-list">
      <%= render @bookmarks %>
    </ul>
  </div>
</div>