<% provide(:title, "ブックマーク一覧") %>

<div class="bookmark">
  <h2 class="text-center mb-4">ブックマーク一覧</h2>
  <ul class="bookmark-list">
    <div class="row">
      <%= render @bookmarks %>
    </div>
  </ul>
</div>