<div class="content">
    <div class="ch row">
        <p class="ch-tit col-3">長期目標</p>
        <p class="ch-txt col-9">2021年○月○日までにららいララらいからのららららららららいかららいからいけいけゴーゴーIELTS7.0を達成する</p>    
    </div>
    
    <div class="cf row">
        <div class="goal col-xl-6">
            <p class="goal-tit">今月の目標</p>
            <p class="goal-txt">TOEIC700点達成</p>
        </div>
        <div class="action col-xl-6">
            <p class="action-tit">今月のアクション</p>
            <ul class="action-list">
                <li class="action-item">アクション１</li>
                <li class="action-item">アクション２</li>
                <li class="action-item">アクション３</li>
            </ul>
        </div>
    </div>
</div>
<div class="main row">
    <div class="snav col-6">
        <ul class="snav-list nav flex-column">
            <li class="snav-item nav-item">
                <%= link_to "日報", "#", class: "nav-link" %>
            </li>
            <li class="snav-item nav-item">
                <%= link_to "つぶやき", "#", class: "nav-link" %>
            </li>
            <li class="snav-item nav-item">
                <%= link_to "みんなの目標", "#", class: "nav-link" %>
            </li>
        </ul>
    </div>
    <div class="thread col-6">
        <p>投稿する</p>
        <p>スレッド</p>
    </div>
</div>