<% provide(:title, "ホーム") %>

<div class="text-center mb-5">
  <%= link_to "目標を設定しましょう！", static_pages_guest_sign_in_path, method: :post, class: 'btn btn-danger nltop-btn _btn-red' %>
</div>
<h1 class="goals-txt">みんなの目標</h1>
<%= render 'shared/feed' %>