<% provide(:title, "ランキング") %>
<h1 class="text-center">継続日数ランキング</h1>

<div class="rank row justify-content-center">
    <ol class="rank-list">
        <li class="rank-item">アンパンマン　１０日目</li>
        <li class="rank-item">ジョジョ　７日目</li>
        <li class="rank-item">トノサマン　５日目</li>
        <li class="rank-item">WOL ４日目</li>
        <li class="rank-item">ブライアン　２日目</li>
    </ol>
</div>
