@import 'variables';

.btn-neutral {
  color: #5e72e4;
  border-color: #fff;
  background-color: #fff;
  box-shadow: 0 4px 6px #D8DAE2, 0 1px 3px #D8DAE2;

}


.btn-icon {
  font-size: .875rem;
  position: relative;
  transition: all .15s ease;
  letter-spacing: .025em;
  text-transform: none;
  will-change: transform;
}

.btn-icon:not(:last-child) {
  margin-right: .5rem;
}


.btn-icon .btn-inner--text:not(:first-child) {
  margin-left: .75em;
}

.form-h {
  height: 613px;
}

.h-120 {
  height: 120px;
}

.min-h100 {
  min-height: 100px;
}

.min-h130 {
  min-height: 130px;
}

.min-h180 {
  min-height: 180px;
}

.min-h470 {
  min-height: 470px;
}

.bg-form {
  background-color: $bg-form;
}

.text-gray {
  color: rgba(24, 28, 50, 0.5);
}

.py-3px {
  padding: 3px 0;
}


/* login */

.bg-login {
  background: linear-gradient(
  45deg, rgba(241, 39, 17, 0.8), rgba(245, 175, 25, 0.8));
}




/* card */

.nltop, .bg-login{
  .card {
    box-shadow: none;
    &-header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);  
    }
  }
}


@media (max-width: 499.98px) { 
  .btn-icon {
    font-size: 1.775rem;
    padding: 1.275rem 1.55rem;
  }
  .form-h {
    height: 933px;
  }
}
