// $theme-color: #dc3545;
// $theme-color: #FA4545;
$theme-color: #EC406C; // rgb(236,64,108)
$footer-bg1: #f2709c;
$footer-bg2: #ff9472;
$state-danger-text: #DD5555;
$gray-light: #b7bdb8;
$gray: #7E8299;
$container-bg: #EEEEEE;
$blue: #43B2F8; // rgb(67,178,248)
$purple: #7C1CD6;
$green: #61D58A; // rgb(97,213,138)
$yellow: #F9C747; // rgb(249,199,71)
$bg-color: #FBF9F6;
$component-bg: #FFFFFF;
$bg-form: #F7FAFC;
$def-font: #181C32; //rgb(24, 28, 50)
$bg-btn-red: rgba(236,64,108, 0.1);
$bg-btn-gray: #F5F8FA;



@mixin title {
  display: inline-block;
  // color: #212529;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 0.5;
  border-radius: 0.25rem;
}

@mixin aim-color {
  color: #dc3545;
  border-color: #dc3545;
}

@mixin card {
  border: 0;
  border-radius: .65rem;
  box-shadow: 0 0 20px 0 #f9f8f5;
}