<% provide(:title, 'ユーザー登録') %>
<% provide(:button_text, "アカウント作成") %>

<div class="row justify-content-center">
  <div class="col-md-9 col-lg-7 col-xl-6">
    <% if request.env["omniauth.auth"] %>
      <%= render 'devise/registrations/form' %>
    <% else %>
      <%= render 'form' %>
    <% end %>
  </div>
</div>