<li class="article-<%= article.id %> article-li">
  <div class="article-user">
    <%= article.user.name %>
  </div>
  <%= link_to article, class: "article-link" do %>
    <div class="article-content">
      <p class="article-tit"><%= article.title %></p>
    </div>
  <% end %>
</li>