<% provide(:title, "記事一覧") %>
<% provide(:button_text, "検索") %>
<div class="row">
  <div class="col-md-3">
    <div class="tag">
      
    </div>
    <div class="fav-articles">
      
    </div>
  </div>
  <div class="col-md-6">
    <div class="serach">
      <%= form_with(url: search_articles_path, method: :get, local: true) do |f| %>
        <%= f.text_field :search, class: 'form-control' %>
        <%= f.submit yield(:button_text), class: "btn btn-primary"  %>
      <% end %>
    </div>
    <div class="article">
      <%= render @articles %>
    </div>
  </div>
</div>
