<% provide(:title, @user.name) %>
<div class="user">
  <div class="row">
    <div class="d-flex col-12 mb-3 justify-content-between">
      <div class="d-flex">
        <h2>長期目標</h2>
      </div>
      <%= render 'tnav' %>
    </div>
  </div>
</div>

<% if @user.goal.present? %>
  <ul class="goals row">
    <%= render @goal %>
  </ul>
<% end %>