<% provide(:title, @user.name) %>
<div class="row">
  <aside class="user-aside col-md-4">
    <%= render 'user_sec' %>
  </aside>
  <div class="user-content col-md-7">
    <div class="user-inner">
      <%= render 'tnav' %>
      <% if @user.monthly_goals.any? %>
        <ul class="goals">
          <%= render @monthly_goals %>
        </ul>
      <% end %>
      <%= link_to "1ヶ月の目標を作成する", new_monthly_goal_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
</div>