<% provide(:title, @user.name) %>
<div class="user">
  <div class="row">
    <div class="d-flex col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2  mb-3 justify-content-between">
      <div class="d-flex">
        <h2>長期目標</h2>
        <div class="utab ml-3">
          <%= link_to  edit_goal_path(@user), class: 'btn' do %>
            <i class="far fa-edit ml-1"></i>
          <% end %>
        </div>
      </div>
      <%= render 'tnav' %>
    </div>
  </div>
</div>

<% if @user.goal.present? %>
  <ul class="goals row justify-content-center">
    <%= render partial: "goal", locals: { goal: @goal } %>
  </ul>
<% end %>