<%= link_to current_user do %>
  <div class="d-flex">
    <div class="card-avatar">
      <%= image_tag current_user.avatar.variant(gravity: :center, resize: "60x60^", crop: "60x60+0+0").processed, class: '_rounded' %>
    </div>
    <span class="card-user"><%= current_user.name %></span>
  </div>
<% end %>