<li class="board-<%= board.id %> board-li">
  <div class="board-user">
    <%= board.user.name %>
  </div>
  <%= link_to board, class: "board-link" do %>
    <div class="board-content">
      <div class="board-tit">
        <p><%= board.title %></p>
      </div>
    </div>
  <% end %>
</li>