<% provide(:title, "掲示板作成") %>
<% provide(:button_text, "投稿") %>

<h1 class="text-center">掲示板作成</h1>

<div class="row">
    <% @tags.each do |tag| %>
    <span>
      <%= link_to tag.name, tag_boards_path(tag) %>
      <%= "(#{tag.boards.count})" %>
    </span>
  <% end %>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= render 'board_form' %>
  </div>
</div>