// Place all the styles related to the Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import '/../variables';

.goals{
  padding: 0;
  &-txt{
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
  }
  .card{
    height: 100%;
    
    &-outer{
      padding: 0 100px;
    }
    &-header{
      font-size: 1.6em;
      border-bottom: 1px solid #e8e8e8;
      padding: 20px;
      a{
        text-decoration: none;
      }
      i{
        margin-right: 20px;
      }
    }
    &-li{
      list-style: none;
      border: 1px solid #e8e8e8;
      a{
        color: black;
      }
    }
    &-wrap{
      display: flex;
      padding: 10px;
      font-size: 1.5em; 
    }
    &-avatar{
      
    }
    &-user{
      font-size: 1.6em;
      margin-left: 20px;
      a {
        color: #181C32;
      }
    }
    &-link{
      display: block;
      color: #181C32;
      padding-bottom: 20px;
      &:hover{
        background-color: #f7f7f7;
        text-decoration: none;
      }
    }
    &-inner{
      // margin-left: 60px;
      padding: 0 20px 0;
    }
    &-content{
      display: block;
      .aim{
        &-tit{
          font-size: 1.5em;
          margin: 15px 0 0;
          @include title;
          @include aim-color;
        }
        &-txt{
          margin-top: 15px;
        }
      }
      
      .action{
        margin-bottom: 15px;
        &-tit{
          @include title;
          @include aim-color;
        }
        &-list{
          padding-left: 20px;
          color: #181C32;
        }
      }
    }
    &-box{
      padding: 10px;
      border-top: 1px solid #e8e8e8;
    }
    &-timestamp{
      color: $gray-light;
      display: block;
    }
    &-dlt{
      margin-left: 20px;
    }
    &-edit{
      margin-left: 20px;
    }
    &-comment{
      margin-right: 20px;
    }
  }
}

._index{
  padding: 0 200px;
}


