// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '/../variables';

@mixin border {
  border: 2px solid #DC3545;
  // border-radius: 10px;
}

@mixin rank-img {
  content: '';
  display: inline-block;
  background-size: contain;
  vertical-align: middle;
  margin-left: -85px;
}

@mixin rank1-3 {
  list-style-type: none;
  font-size: 1.5em;
}


.top{
  margin: 30px 30px 80px;
  // border: 2px solid #D8D8DB;
  // border-radius: 10px;
  justify-content: space-around;
  &-h1{
    margin-bottom: 50px;
    font-size: 1.5em;
    @include border;
    padding: 0px;
  }
  &-btit{
    background-color: $theme-color;
    color: #fff;
    padding: 0.5rem 1rem;
  }
  &-item{
    font-size: 1.5em;
    @include border;
    padding: 0px;
  }
  &-tit{
    @include title;
    @include aim-color;
    font-size: 1em;
    padding: 0.675rem 0.75rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &-wrap{
    padding: 20px;
  }
  &-btn{
    border-radius: 100vh;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    &._cubic{
      border-bottom: 5px solid #9f000c;
      &:hover{
        margin-top: 3px;
        border-bottom: 2px solid #9f000c;
      }
    }
  }

  .fa-position-right {
    position: absolute;
    top: calc(50% - .5em);
    right: 1rem;
  }
  .tnav{
    background-color: $theme-color;
    &-inner{
      
    }
    &-link{
      color: #fff;
      &:hover{
        opacity: 0.5;
      }
    }
  }
}

.sec{
  margin: 10px;
  .snav{
    padding-right: 40px;
    margin-top: 40px;
      
    &-wrap{
      border: 0;
      border-radius: .5rem;
      box-shadow: 0 0 20px 0 #f9f8f5;
      span{
        color: #fff;  
        background-color: $theme-color;
      }
    }
    &-link{
      font-size: 1.2em;
    }
  }
  .content{
    padding: 40px;
    &-inner{
      
    }
    &-tit{
      font-size: 2.2em;
    }
  }
}

/* rank */
.rank{
  &-list{
    font-size: 1.3em;
  }
  &-item{
    img{
      width: 50px;
      height: 50px;
    }
  }
  &-1, &-2, &-3{
    font-size: 1.5em;
    img {
      width: 70px;
      height: 70px;
    }
    td {
      vertical-align: middle;
    }
  }
  .card {
    @include card;
    &-header {
      border: 0 solid;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: stretch;
      align-items: stretch;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      min-height: 70px;
      padding: 0 2.25rem;
      background-color: transparent;
      &:first-child {
        border-radius: calc(.65rem - 1px) calc(.65rem - 1px) 0 0;
      }
    }
  }
  
  .table {
    .w-100px {
      width: 100px;
    }
    .w-120px {
      width: 120px;
    }
    .w-140px {
      width: 140px;
    }
    .min-w-260px {
      min-width: 260px;
    }
    tbody {
      border: 0 solid;
    }
    th {
      border: 0 solid;
    }
    td {
      border: 0 solid;
    }
    
  }
}

/* home not logged in */

.nltop{
  color: #fff;
  // background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)), url("<%= asset_path('ppl-discussion.png') %>");
  
  background: linear-gradient(-45deg, rgba(204, 149, 192, .6), rgba(219, 212, 180, .6), rgba(122, 161, 210, .6)), image-url("ppl-discussion.png");
  
  background-size: cover;
  padding: 0;
  height: 93vh;
  
  &-inner{
    padding: 260px 0 0 3%;
  }
  &-tit{
    font-family: 'Holtwood One SC', serif;
  }
  &-txt{
    font-family: 'Kosugi Maru', sans-serif;
    
  }
  &-wrap{
    margin: 20px auto;
  }
  &-guest{
    display: inline-block;
    input{
      width: auto;
      margin-bottom: 0px;
    }
  }
  &-btn{
    &._btn-green{
      background-color: rgba(108, 217, 154, 1);
      &:hover{
        background-color: #218838;
      }
    }
    &._btn-red{
      background-color: rgba(255, 102, 133, 1);
      &:hover{
        background-color: #dc3545;
      }
    }
    &._ml-btn{
      margin-left: 10px;
    }
  }
  &-bg {
    background: linear-gradient(-45deg, rgba(204, 149, 192, .6), rgba(219, 212, 180, .6), rgba(122, 161, 210, .6)), image-url("blank-notepad-on-a-desk.jpg");
    background-size: cover;
    
    height: 430px;
    width: 100%;
    position: relative;
    top: -432px;
  }
  
  .form{
    margin: 0 auto;
    z-index: 1;
    &-header{
      padding: 10px;
      background-color: #007bff;
      border-radius: 5px 5px 0 0;
      border: 1px solid #007bff;
    }
    &-main{
      padding: 40px;
    }
  }
}

@include media-breakpoint-only(lg) { 
  .nltop {
    .lead {
          font-size: 1.12rem;
    }
  }
}

@include media-breakpoint-down(md) {
  .sec {
    .snav {
      padding-right: 0px;
    }
    .content {
      padding: 40px 0px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .nltop {
    &-bg {
      top: -456px;
      
    }
  }
}