// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '/../variables';

._rounded{
  border-radius: 50%;  
}

.user{
  .card {
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
    height: 100%;
    &-header {
      background-color: $component-bg;
      border-radius: .65rem .65rem 0 0;
    }
    // margin-left: 40px;
  }
  &-sec{
    padding: 20px 20px;
    border: 2px solid pink;
  }
  &-avatar{
    text-align: center;
    
  }
  &-txt{
    font-size: 1.1em;
    text-align: center;
  }
  &-edit{
    text-align: center;
  }
  .calendar{
    &-wrap{
      font-size: 0.8em;
    }
  }
  &-content{
    margin-left: 20px;
    .tnav{
      background-color: $theme-color;
      &-item{
        a{
          color: #fff;
          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
    .unav{
      margin-top: 20px;
    }
  }
  &-inner{
    
  }
  &-goal{
    .ugoal{
      &-long{
      }
      &-btit{
        font-size: 1.5em;
        margin: 20px 0;
        border-bottom: 2px solid $theme-color;
      }
      &-wrap{
        
      }
      &-tit{
        @include title;
        @include aim-color;
      }
      &-txt{
        
      }
      &-btn{
        border-radius: 100vh;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        &._cubic{
          border-bottom: 5px solid #9f000c;
          &:hover{
            margin-top: 3px;
            border-bottom: 2px solid #9f000c;
          }
        }
      }
      .fa-position-right {
        position: absolute;
        top: calc(50% - .5em);
        right: 1rem;
      }
      
      &-month{
        
      }
    }
  }
  
  .action{
    .term {
      button {
        &:hover {
          background-color: $bg-btn-gray;
        }
      }
    }
    
    &-title{
      font-size: 1.4em;
    }
    &-month{
      margin-top: 20px;
    }
    &-week{
      margin-top: 20px;
    }
    &-day{
      margin-top: 20px;
    }
    &-tit{
      @include title;
      @include aim-color;
    }
    &-list{
      padding-left: 20px;
    }
    &-item{
    
    }
    &-inner{
    }
    &-wrap{
      
    }
    &-box{
      
    }
    &-progress{
      transform: translateY(25%);
    }
    
  }

  .term {
    button {
      color: $gray;
      border-radius: .65rem;
      &:hover {
        background-color: $bg-btn-red;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  
  .tnav {
    &-link {
      text-decoration: none;
    }
    button {
      border-radius: .65rem;
      &:hover {
        background-color: $bg-btn-red;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  
  .chart {
    &-header {
      padding: 20px 30px 10px;
    }
    &-wrap {
      width: 30%;
    }
    &-content {
      width: 70%;
    }
    
    .chnav {
      .nav-item {
      }
      .nav-link {
        color: $gray;
        border-radius: .65rem;
        &:hover {
          background-color: $bg-btn-gray;
          cursor: pointer;
        }
      }
    }
  }
  
  .posts{
    list-style: none;
    padding: 0 15px;
  }
  
}
  

.account{
  &-snav{
    
  }
  &-main{
    
  }
  &-cancel{
    padding: 20px 10px;
    margin-top: 50px;
    background-color: pink;
  }
  &-btn{
    width: fit-content;
  }
}

