<% provide(:title, "長期目標") %>
<% provide(:button_text, "編集") %>
<h1 class="text-center">長期目標</h1>

<div class="goals row">
  <div class="col-md-6 offset-md-3">
    <%= render 'goal_form' %>
  </div>
</div>