<% provide(:title, "長期目標") %>
<% provide(:button_text, "編集") %>
<h1 class="text-center">長期目標</h1>

<div class="goals row justify-content-center">
  <div class="col-12 col-lg-10 col-xl-8">
    <%= render 'goal_form' %>
  </div>
</div>