@import "bootstrap";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';
@import 'material_icons';
@import 'simple_calendar';

/* scss files */
// @import ''
@import 'scss/base/base';
@import 'scss/mixin/mixin';
@import 'scss/module/card';
@import 'scss/module/header';
@import 'scss/module/comment';
@import 'scss/module/tag';
@import 'scss/module/favorite';
@import 'scss/module/search';
@import 'scss/module/aim';
@import 'scss/module/action';
@import 'scss/module/realize';
@import 'scss/module/images';
@import 'scss/module/term';
@import 'scss/module/tab';
@import 'scss/module/utab';
@import 'scss/custom';
@import 'scss/page/static_pages';
@import 'scss/page/goals';
@import 'scss/page/reports';
@import 'scss/page/posts';
@import 'scss/page/shared';
@import 'scss/page/articles';
@import 'scss/page/boards';
@import 'scss/page/users';
@import 'scss/page/bookmarks';
@import 'scss/page/sessions';
@import 'scss/plugins/my_simple_calendar';


/* mixins, variables, etc */

@import 'scss/variables';

// $theme-color: #dc3545;
// $footer-bg: #d1d1d1;
// $state-danger-text: #DD5555;
// $gray-light: #b7bdb8;
// $container-bg: #EEEEEE;


/* universal */

body{
    
}

.main{
  margin: 0;
  background-color: $bg-color;
  &-inner{
    // background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.container{
  
}

/* typography */

/* tmp */

._hd-m{
  text-align: center;
  margin-top: 20px;
}


/* header */

#logo{
    float: left;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
        color: white;
        text-decoration: none;
    }
}

/* flash message */
.alert {
  margin-bottom: 0;
  text-align: center;
  &-notice{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  &-alert{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
}

/* footer */

.footer{
    text-align: center;
    background: linear-gradient(90deg, $footer-bg1, $footer-bg2);
    padding: 40px 0;
}

/* miscellaneous */

.debug_dump {
  background-color: antiquewhite;
  clear: both;
  float: left;
  width: 100%;
  padding: 20px;
  margin: 0;
  @include box_sizing;
}

/* forms */

// input, textarea, select, .uneditable-input {
//   border: 1px solid #bbb;
//   width: 100%;
//   margin-bottom: 15px;
//   @include box_sizing;
// }

// input {
//   height: auto !important;
// }

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  display: block;
  .form-control {
    color: $state-danger-text;
    @extend .is-invalid;
  }
}

.checkbox {
  margin-bottom: 10px;
  span {
    margin-left: 5px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
}

#user_remember_me {
  width: auto;
}

/* Users index */

.users{
  list-style: none;
  margin: 0;
}



@include media-breakpoint-down(md) {
  .main {
    &-inner-xs {
      padding-top: 420px;
    }
  }
}