@import "bootstrap";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';

/* scss files */
// @import ''
@import 'static_pages';
@import 'goals';
@import 'reports';

/* mixins, variables, etc */

$footer-bg: #d1d1d1;
$state-danger-text: #DD5555;
$gray-light: #b7bdb8;
$container-bg: #EEEEEE;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body{
    
}

.main{
  margin: 0;
  background-color: $container-bg;
  &-inner{
    background-color: #fff;
    padding: 30px 0;
  }
}

.container{
  
}

/* typography */

/* tmp */
.login{
  text-align: center;
  margin-top: 20px;
}

.alert{
  margin-top: 20px;
}

.user_info{
  margin-left: 20px;
}

/* header */

#logo{
    float: left;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
        color: white;
        text-decoration: none;
    }
}

/* content */


/* main *

    /* side-navigation */
    
    /* thread */
    



/* footer */

.footer{
    text-align: center;
    background-color: $footer-bg;
    padding: 90px 0;
}

/* miscellaneous */

.debug_dump {
  background-color: antiquewhite;
  clear: both;
  float: left;
  width: 100%;
  padding: 20px;
  margin: 0;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  display: block;
  .form-control {
    color: $state-danger-text;
    @extend .is-invalid;
  }
}

.checkbox {
  margin-bottom: 10px;
  span {
    margin-left: 5px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
}

/* Users index */

.users{
  list-style: none;
  margin: 0;
}

/* Posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}
  
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}