// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'variables';

._art-ml{
  margin-left: 80px;
}

.tag{
  border: 1px solid $theme-color;
  &-header{
    background-color: $theme-color;
    color: #fff;
    padding: 7px 15px;
  }
  &-list{
    margin-top: 10px;
    list-style: none;
    padding: 0;
  }
  &-item{
    margin-left: 10px;
  }
  &-link{
    
  }
}

.favorite{
  border: 1px solid $theme-color;
  margin-top: 50px;
  &-header{
    background-color: $theme-color;
    color: #fff;
    padding: 7px 15px;
  }
  &-list{
    list-style: none;
  }
  &-item{
    
  }
}

.search{
  &-inner{
    input{
      margin: 0;
      border-radius: 0;
    }
    button{
      border-radius: 0;
      width: 80px;
    }
  }
}

.articles{
  margin-top: 30px;
}

.article{
  margin-bottom: 30px;
  &-main{
    
  }
  &-li{
    list-style: none;
    border: 2px solid #e8e8e8;
    padding: 20px;
  }
  &-inner{
    display: flex;
    margin-bottom: 20px;
  }
  &-avatar{
    
  }
  &-user{
   font-size: 1.7em;
   margin-left: 10px;
  }
  &-config{
    margin: 0 30px 0 20px;
    padding-top: 10px;
  }
  &-bookmark{
    padding: 5px 0;
    .bookbtn{
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      
      &-tag{
        position: relative;
        padding: 0.65rem 1.1rem 0.65rem 70px;
        color: #000;
        border-radius: 0.5rem ;
        &:before{
          position: absolute;
          top: 0;
          left: 0;
        
          width: 50px;
          height: 100%;
        
          content: "";
        
          border-radius: 0.5rem 0 0 0.5rem;
        } 
      }
    }
    
    ._bookbtn {
      background: #e5e5e5;
      &:before{
        background: #eb6877;
      }
      i{
        font-size: 110%;
        position: absolute;
        top: 0;
        left: 0;
      
        width: 50px;
        padding: 0.9rem 0;
      
        text-align: center;
        letter-spacing: 0;
      
        opacity: 0.5;
        color: #fff;
      }
      &:hover{
        color: #212529;
        background: #f2f2f2;
        text-decoration: none;
        i{
          opacity: 1;
          color: #fff100;
        }
      }
    }
    
    ._marked{
      i{
        opacity: 1;
        color: #fff100;
      }
    }
  }
  &-link{
    color: black;
    &:hover{
      color: black;
    }
  }
  &-tit{
    font-size: 1.3em;
    
  }
  &-stit{
    font-size: 1.8em;
  }
  &-content{
    font-size: 1.3em;
  }
}
