// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'variables';

.boards{
  margin-top: 30px;
}

.board{
  margin-bottom: 30px;
  &-main{
    
  }
  &-li{
    list-style: none;
    border: 2px solid #e8e8e8;
    padding: 20px;
  }
  &-inner{
    display: flex;
    margin-bottom: 20px;
  }
  &-avatar{
    
  }
  &-user{
    font-size: 1.7em;
    margin-left: 10px;
  }
  &-config{
    margin: 0 30px 0 20px;
    padding-top: 10px;
  }
  &-link{
    color: black;
    &:hover{
      color: black;
    }
  }
  &-tit{
    font-size: 1.3em;
    
  }
  &-stit{
    font-size: 1.8em;
  }
  &-content{
    font-size: 1.3em;
  }
}