// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top{
  margin: 0 10px 10px;
  border: 2px solid;
  &-h1{
    margin-bottom: 20px;
  }
  &-item{
    font-size: 1.5em;
  }
  &-tit{
    margin-top: 20px;
    margin-bottom: 0;
    &::before{
      content: '○';
    }
  }
}

.sec{
  margin: 10px;
  .snav{
    padding-top: 10px;
    padding-left: 10px;
    &-link{
      font-size: 1.2em;
    }
  }
  .content{
    .ch{
      
    }
    .cf{
      
    }
    &-tit{
      font-size: 2.2em;
    }
  }
}