// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

._rounded{
  border-radius: 50%;  
}

.user{
  &-aside{
    margin-left: 40px;
  }
  &-sec{
    padding: 50px 30px;
    border: 1px solid;
    a{
      margin-left: 50px;
    }
  }
  &-avatar{
    padding: 0 20px;
    
  }
  &-calendar{
    
  }
  &-content{
    margin-left: 20px;
    .tnav{
      background-color: $theme-color;
      &-item{
        a{
          color: #fff;
          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
    .unav{
      margin-top: 20px;
    }
  }
  &-inner{
    
  }
  &-progress{
    .action{
      &-month{
        margin-top: 20px;
      }
      &-week{
        margin-top: 20px;
      }
      &-day{
        margin-top: 20px;
      }
      &-tit{
        @include title;
        @include aim-color;
      }
      &-list{
        padding-left: 20px;
      }
      &-item{
      
      }
      &-inner{
      }
      &-wrap{
        
      }
      &-box{
        
      }
      &-progress{
        transform: translateY(25%);
      }
      
    }
  }
}


.posts{
  list-style: none;
  padding: 0;
}