<% provide(:title, "1ヶ月の目標") %>
<% provide(:button_text, "編集") %>
<h1 class="text-center">1ヶ月の目標</h1>

<div class="row justify-content-center">
  <div class="col-12 col-lg-10 col-xl-8">
    <%= render 'monthly_goal_form' %>
  </div>
</div>