<% provide(:title, '1ヶ月の目標作成') %>
<% provide(:button_text, "作成") %>
<h1 class="text-center">1ヶ月の目標作成</h1>

<div class="row justify-content-center">
  <div class="col-12 col-lg-10 col-xl-8">
    <%= render 'monthly_goal_form' %>
  </div>
</div>
