<% provide(:title, "日報の編集") %>
<% provide(:button_text, "編集") %>

<div class="row justify-content-center">
  <div class="col-12 col-lg-10 col-xl-8">
    <div class="card">
      <div class="card-body">
        <%= render 'shared/report_form' %>
      </div>
    </div>
  </div>
</div>