<head>
    <title><%= yield(:title) %> | Progress</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <style>
    [v-cloak] {
      display: none;
    }
    </style>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Kosugi+Maru&display=swap" rel="stylesheet">
</head>