<div class="nltop jumbotron jumbotron-fluid">
  <div class="row m-0">
    <div class="nltop-inner col-lg-5 col-xl-5 offset-xl-1">
      <h1 class="nltop-tit display-4 text-center">Progress</h1>
      <p class="nltop-txt lead text-center">
        みんなと目標を共有して、刺激をもらおう！<br>
        継続できないを克服する目標達成アプリです
      </p>
      <% if !logged_in? %>
      <div class="text-center tbtn-wrap">
        <%= link_to "目標を設定しましょう！", static_pages_guest_sign_in_path, method: :post, class: 'tbtn' %>
      </div>
      <% end %>
    </div>
    <div class="form col-md-10 col-lg-7 col-xl-6">
      <div class="form-main">
        <%= render 'layouts/nltop_form' %>
      </div>
    </div>
    <div class="nltop-bg d-lg-none"></div>
  </div>
</div>
